################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpress/tool
/cpress/*.bat
/ctwo/tool
/ctwo/*.bat
/*.bat
/.vs
/api.json
